In [4]:
library(dplyr)

In [5]:
dt = read.csv("dt2_9385581.csv",encoding = "CP949")

In [6]:
head(dt,3)

  X dist date     hour lanes max_speed prep humid temp skyCon prepCon public
1 0 1179 20171101 6    1     60        0    65    16.2 4      0       0
2 1 1179 20171101 7    1     60        0    68    15.6 4      0       0
3 2 1179 20171101 8    1     60        0    73    15.0 4      0       0
  industrial cultural   agriMarin commercial residental etc weekday speed
1 0          0.03508772 0         0.2412281  0.7236842  0   수      43.69
2 0          0.03508772 0         0.2412281  0.7236842  0   수      40.54
3 0          0.03508772 0         0.2412281  0.7236842  0   수      35.80

In [7]:
str(dt)

'data.frame':	9385581 obs. of  20 variables:
 $ X         : int  0 1 2 3 4 5 6 7 8 9 ...
 $ dist      : int  1179 1179 1179 1179 1179 1179 1179 1179 1179 1179 ...
 $ date      : int  20171101 20171101 20171101 20171101 20171101 20171101 20171101 20171101 20171101 20171101 ...
 $ hour      : int  6 7 8 9 10 11 12 13 14 15 ...
 $ lanes     : num  1 1 1 1 1 1 1 1 1 1 ...
 $ max_speed : num  60 60 60 60 60 60 60 60 60 60 ...
 $ prep      : num  0 0 0 0 0 0 0 0 0 0 ...
 $ humid     : num  65 68 73 77 80 82 83 84 86 86 ...
 $ temp      : num  16.2 15.6 15 14.3 14 ...
 $ skyCon    : num  4 4 4 4 4 4 4 4 4 4 ...
 $ prepCon   : num  0 0 0 0 0 0 0 0 0 0 ...
 $ public    : num  0 0 0 0 0 0 0 0 0 0 ...
 $ industrial: num  0 0 0 0 0 0 0 0 0 0 ...
 $ cultural  : num  0.0351 0.0351 0.0351 0.0351 0.0351 ...
 $ agriMarin : num  0 0 0 0 0 0 0 0 0 0 ...
 $ commercial: num  0.241 0.241 0.241 0.241 0.241 ...
 $ residental: num  0.724 0.724 0.724 0.724 0.724 ...
 $ etc       : num  0 0 0 0 0 0 0 0 0 0 ...
 $ weekday   : Factor w/ 7 levels "금","목","수",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ speed     : num  43.7 40.5 35.8 29.9 32.5 ...

#### 요일 나누기

In [8]:
dt <- dt %>% mutate(weekdiv = ifelse(dt$weekday =="월" |
                                    dt$weekday =="화" |
                                    dt$weekday =="수" |
                                    dt$weekday =="목",1,ifelse(dt$weekday=="금",2,ifelse(dt$weekday=="토",3,4))))

#### 시간대 나누기

In [9]:
dt <- dt %>% mutate(timeslot = ifelse(dt$hour >=7 & dt$hour<10,"gowork",
                                       ifelse(dt$hour>=10 &  dt$hour < 17, "active",
                                             ifelse(dt$hour>=17 & dt$hour < 20,"offwork","nonactive"))))

In [10]:
timeslotlevels = c("gowork","active","offwork","nonactive")

In [12]:
cumsum <- 0
cumper <- 0
for(i in 1:4){
    for(j in 1:4){
        dtfilter <- dt %>% filter(dt$weekdiv ==i & dt$timeslot== timeslotlevels[j])
        cumsum <- cumsum + nrow(dtfilter)
        cumper <- cumper + nrow(dtfilter)/9385581
        write.csv(dtfilter,paste0("data/dt_weekday",i,"_",timeslotlevels[j],".csv"))
        print(paste0("dt_weekday",i,"_",timeslotlevels[j]," rows : ",nrow(dtfilter),", percent :",round(nrow(dtfilter)/9385581,3),
                    ", cumsum : ",cumsum,", cumper : ",round(cumper,3)))
    }
}

[1] "dt_weekday1_gowork rows : 895330, percent :0.095, cumsum : 895330, cumper : 0.095"
[1] "dt_weekday1_active rows : 2090021, percent :0.223, cumsum : 2985351, cumper : 0.318"
[1] "dt_weekday1_offwork rows : 895489, percent :0.095, cumsum : 3880840, cumper : 0.413"
[1] "dt_weekday1_nonactive rows : 1489157, percent :0.159, cumsum : 5369997, cumper : 0.572"
[1] "dt_weekday2_gowork rows : 225868, percent :0.024, cumsum : 5595865, cumper : 0.596"
[1] "dt_weekday2_active rows : 527180, percent :0.056, cumsum : 6123045, cumper : 0.652"
[1] "dt_weekday2_offwork rows : 225900, percent :0.024, cumsum : 6348945, cumper : 0.676"
[1] "dt_weekday2_nonactive rows : 375931, percent :0.04, cumsum : 6724876, cumper : 0.717"
[1] "dt_weekday3_gowork rows : 221722, percent :0.024, cumsum : 6946598, cumper : 0.74"
[1] "dt_weekday3_active rows : 522512, percent :0.056, cumsum : 7469110, cumper : 0.796"
[1] "dt_weekday3_offwork rows : 225118, percent :0.024, cumsum : 7694228, cumper : 0.82"
[1] "dt_weekday3_nonactive rows : 373863, percent :0.04, cumsum : 8068091, cumper : 0.86"
[1] "dt_weekday4_gowork rows : 221361, percent :0.024, cumsum : 8289452, cumper : 0.883"
[1] "dt_weekday4_active rows : 515379, percent :0.055, cumsum : 8804831, cumper : 0.938"
[1] "dt_weekday4_offwork rows : 217456, percent :0.023, cumsum : 9022287, cumper : 0.961"
[1] "dt_weekday4_nonactive rows : 363294, percent :0.039, cumsum : 9385581, cumper : 1"